@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";



body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Add spacing to main content containers */
/* #root {
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
} */




/* Smooth text fade-up animation */
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeUp {
  animation: fadeUp 1s ease-out;
}

/* Slow background zoom animation */
@keyframes zoomSlow {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

.animate-zoom-slow {
  animation: zoomSlow 8s ease-in-out infinite alternate;
}

@keyframes orbit {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-orbit {
  animation: orbit 6s linear infinite;
}

